.posts-container {
  background: #fff;
  min-height: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.posts-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 15px;
}

.posts-left-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .posts-wrapper {
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .posts-wrapper {
    padding: 0 20px;
    grid-template-columns: 100%;
  }
}
