.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(189, 189, 189, 0.7);
}

.modal-container {
  border-radius: 20px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.modal-footer .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.modal-footer .btn span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-footer .btn span svg {
  color: #fff;
  font-size: 20px;
}
