.postcard-container {
  max-width: 1400px;
  margin-bottom: 40px;
  border: 1px solid #aeaeae;
  border-radius: 15px;
  background: #fff;
  padding: 15px;
}

.postcard-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
}

.postcard-left-content img {
  width: 100%;
  border-radius: 15px;
}

.postcard-right-content {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

.postcard-right-content .post-title {
  font-size: 2.2rem;
}

.post-title:hover {
  color: #01bf71;
  cursor: pointer;
}

.title-container,
.edit-delete-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.edit-delete-btn svg {
  font-size: 25px;
  cursor: pointer;
}

.edit-delete-btn svg:first-child:hover {
  color: #01bf71;
}

.edit-delete-btn svg:last-child:hover {
  color: #f80303;
}

.author-date {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-date .posted,
.viewed {
  color: #aeaeae;
}

.author-date .author,
.date,
.views {
  font-weight: 500;
}

.postcard-right-content .post-desc {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.see-more-link {
  margin-top: 15px;
  display: block;
  text-align: right;
}

@media screen and (max-width: 1040px) {
  .postcard-wrapper {
    grid-template-columns: 100%;
    gap: 20px;
  }
}
