.signup-section-container {
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-section-wrapper {
  max-width: 1400px;
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);
}

.card-wrapper {
  border: 40px solid #01bf71;
  border-radius: 20px;
}

.card-content {
  text-align: center;
  position: relative;
  width: 450px;
  height: 450px;
  transform-style: preserve-3d;
  margin: 0 auto;
}

.card-content .face {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: 2s ease-in-out;
}

.card-content .face div {
  transform: perspective(500px) translateZ(50px);
}

.card-content .face.front {
  background: #fff;
}

.card-content:hover .face.front {
  transform: perspective(500px) rotateY(180deg);
}

.card-content .face.back {
  background: #fff;
  transform: perspective(500px) rotateY(180deg);
}

.card-content:hover .face.back {
  transform: perspective(500px) rotateY(360deg);
}

/* right content designs */
.signup-section-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content {
  color: #000;
  text-align: left;
}

.right-content h1 {
  font-size: 48px;
  max-width: 600px;
}

.right-content p {
  font-size: 24px;
  margin-top: 20px;
  max-width: 600px;
}

.signup-btn {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.signup-btn-link {
  background: #01bf71;
  border-radius: 50px;
  color: #010606;
  padding: 10px 22px;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

.signup-btn-link:hover {
  color: #010606;
}

@media screen and (max-width: 1040px) {
  .signup-section-container {
    padding: 50px 0;
  }
  .signup-section-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .right-content {
    text-align: center;
  }
  .signup-btn {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .signup-section-container {
    padding: 50px 0;
  }
  .signup-section-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .right-content h1 {
    font-size: 32px;
  }
  .right-content p {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .signup-section-container {
    padding: 50px 0;
  }
  .signup-section-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .right-content h1 {
    font-size: 20px;
  }
  .right-content p {
    font-size: 18px;
  }
}
