.searchbar-wrapper {
  margin-bottom: 15px;
  width: 100%;
}

.search-box-item {
  position: relative;
  border-radius: 25px;
  border: 1px solid #01bf71;
  height: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
}

.search-box-item button {
  font-size: 18px;
  height: 50px;
  border-radius: 25px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #01bf71;
  cursor: pointer;
  text-transform: uppercase;
}

.search-box-item button:hover {
  background: #2f8e66;
}

.search-icon svg {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input {
  background: transparent;
  padding: 5px 15px;
  font-size: 18px;
  border: 0;
  border-radius: 25px;
  width: 100%;
  outline: none;
}

@media screen and (max-width: 768px) {
  .search-box-item {
    grid-template-columns: 25% 75%;
  }
}

@media screen and (max-width: 480px) {
  .search-box-item {
    grid-template-columns: 30% 70%;
  }
}
