.latest-links-container {
  padding: 20px;
  border: 2px solid #aeaeae;
  border-radius: 15px;
  margin-bottom: 20px;
}

.latest-links-wrapper h2 {
  font-size: 1.3rem;
  color: #281e5d;
  margin-bottom: 15px;
}

.latest-links-wrapper ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.latest-links-wrapper ul a {
  margin-bottom: 5px;
  text-decoration: none;
  color: #281e5d;
}

.latest-links-wrapper ul a:hover {
  color: #0a1172;
  text-decoration: underline;
  transition: 0.3s ease-in;
}

.link-icon:hover {
  transition: 0.3s ease-in;
}
