.signup-container {
  min-height: 880px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(
    108deg,
    rgba(1, 147, 86, 1) 0%,
    rgba(10, 201, 122, 1) 100%
  );
}

.signup-form-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-logo {
  margin-left: 32px;
  margin-top: 32px;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
}

.sign-up-logo:hover {
  color: #fff;
}

.signup-form-content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signup-form {
  background: #010101;
  max-width: 400px;
  height: auto;
  width: 100%;
  z-index: 1;
  display: grid;
  margin: 0 auto;
  padding: 50px 32px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}

.signup-form h1 {
  margin-bottom: 25px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.signup-form .form-label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #fff;
}

.signup-form .form-input {
  padding: 16px 16px;
  margin-bottom: 25px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.confirm-pass {
  margin-bottom: 0 !important;
}

.signup-form .error-text {
  margin-bottom: 25px;
}

.signup-form button {
  background: #01bf71;
  padding: 16px 0;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.continue-to-sign-in-text {
  color: #fff;
  text-align: center;
  margin-top: 24px;
}

.continue-to-sign-in-text a {
  color: #01bf71;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.continue-to-sign-in-text a:hover {
  text-decoration: underline;
  color: #01bf71;
}

@media screen and (max-width: 480px) {
  .signup-form-wrap {
    height: 80%;
  }
  .sign-up-logo {
    margin-left: 16px;
    margin-top: 8px;
  }
  .signup-form-content {
    padding: 10px;
  }
  .signup-form {
    padding: 32px 32px;
  }
}
