@import url(https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);

.App {
  font-family: "Encode Sans Expanded", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}
