.most-viewed-container {
  padding: 20px;
  border: 2px solid #e7e7e8;
  margin-bottom: 20px;
  border-right: 0;
  border-bottom: 0;
}

.most-viewed-wrapper > h2 {
  font-size: 1.3rem;
  color: #281e5d;
  margin-bottom: 15px;
}

.most-viewed-wrapper ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.most-viewed-wrapper ul .most-viewed-postcard-container {
  margin-bottom: 20px;
}

.most-viewed-wrapper ul .most-viewed-postcard-container:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .most-viewed-container {
    display: none;
  }
}
